Virtual Environment
venv/
.venv/
env/
.env

Python cache files
pycache/
*.pyc
*.pyo
*.pyd

IDE and editor configuration files
.idea/
.vscode/
*.swp
*.swo

OS-specific files
.DS_Store
Thumbs.db

Output files
*.json

Log files
*.log